.nav {
    padding:20px;
    background-color: lavender;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 2px #f4b40020;
}

.logo {
    font-style: italic;
}

.link {
    text-decoration: none;
    margin-left:10px;
    font-weight: bold;
    color:#f4b400;
}
