.pageButton {
    padding: 10px;
    /* border:1px solid lightgray; */
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.disabled {
    cursor:not-allowed;
    color:lightgray;
}


