.repoListItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 10px;
    border:1px solid lightgray;
    padding:10px;
    box-shadow: 2px 2px rgba(0,0,0,0.1);
}

.repoListItem .avatar {
    border-radius: 50%;
    width:80px;
    height:80px;
}

.repoListItem .itemDetailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

.repoListItem .itemDetailsContainer hr{
    width:100%;
}

.repoListItem .itemDetailsContainer .text{
    padding:5px 0px;
    text-align: left;
    font-weight:bold;
}

.repoListItem .itemDetailsContainer span {
    font-weight: 400;
    font-style: italic;
}