
.tab {
    padding:5px;
    border:1px solid black;
    width:100%;
}

.tab:hover{
    cursor:pointer;
    background-color: beige;
}

.active {
    color:green;
    background-color: antiquewhite;
}