
.tab {
    padding:5px;
    border:1px solid #f4b400;
    width:100%;
}

.tab:hover{
    cursor:pointer;
    background-color: #f4b400a0;
}

.active {
    /* color:whitesmoke; */
    background-color: #f4b400;
}